goodreads_book_authors.json.gz
goodreads_book_genres_initial.json.gz
goodreads_book_works.json.gz
goodreads_books.json.gz
authors.csv
books.csv
book_id_map.csv
books&authors.csv
books+authors+genres.csv
books+authors+genres2.csv
cleanedbooks.csv
cleanedMerge.csv
filtered_user_interactions.csv
genres.csv
goodreads_interactions.csv
books.pkl
col_Df
col_df.pkl
col_similarity_scores.pkl
col_similiarity_scores.pkl
pv.pkl
temp_df.pkl
similarity_scores.pkl
